<% layout('/layout/boilerplate') %>
  <% if(!session.cart || session.cart.totalPrice===0){%>
    <div class="container text-center border border-dark">
      <h1>Food cart</h1>
      <p>Your cart is empty! <br>go back and start Ordering.</p>
      <div>
        <img class="mb-5" src="/static/images/shopping-cart.png" alt="empty cart">
      </div>
      <a href="/menu" class="btn btn-success mb-3 rounded-pill">Go back</a>
    </div>
    <%}else{%>
      <div class="container">
        <h3 class="border-bottom border-success py-2 mb-5"><i class="fas fa-shopping-cart"></i>Order Summary</h3>
        <div class="container">
          <% for (let items of Object.values(session.cart.items)) {%>
            <div class="row border-bottom py-1">
              <div class="col-1">
                <img src="<%= items.item.image %>" class="img-fluid rounded float-start" height="150" width="200"
                  alt="">
              </div>
              <div class="col-5">
                <h5>
                  <%= items.item.name%>
                </h5>
              </div>
              <div class="col-1">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                  <form action="/decrease-qty/<%= items.item._id %>" method="POST">
                    <button data-item="<%= JSON.stringify(items)%>" class="btn btn-danger decrease-qty"><i
                        class="fas fa-minus"></i></button>
                  </form>
                  <span class="px-4 pt-1">
                    <%= items.qty %>
                  </span>
                  <form action="/increase-qty/<%= items.item._id %>" method="POST">
                    <button data-item="<%= JSON.stringify(items)%>" class="btn btn-success increase-qty"><i
                        class="fas fa-plus"></i></button>
                  </form>
                </div>
              </div>
              <div class="col-2">
                <form action="/delete-item/<%=items.item._id%>" method="POST">
                  <div class="text-danger d-flex justify-content-center">
                    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                  </div>
                </form>
              </div>
              <div class="col-3">
                <span class="h4 ps-5">
                  <%=items.item.price * items.qty%>
                </span>
              </div>
            </div>
            <% }} %>
        </div>
        <div class="row d-flex justify-content-end my-3">
          <% if(session.cart && session.cart.totalPrice>0){ %>
            <div class="col-1">
              <h3>Total</h3>
            </div>
            <div class="col-3 ps-5">
              <h3 id="total-price">
                <%=session.cart.totalPrice%>
              </h3>
            </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-3">
            <% if(!currentUser){%>
              <a class="btn btn-success rounded-pill" href="/users/login" role="button">Login to Order</a>
              <% }else if(!currentUser.isVerified){%>
                <a class="btn btn-secondary rounded-pill disabled" href="">Place Order</a><br>
                <span>Yor profile is not activate</span>
                <a href="/users/profile">Click here to activate!</a>
                <% } else {%>
                  <a class="btn btn-success rounded-pill" href="/order/details" role="button">Place Order</a>
                  <% } %>
                    <% } %>
          </div>
        </div>
      </div>

      </div>