<% layout('/layout/boilerplate') %>
  <%if(success_msg!=''){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%=success_msg%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <%}%>
      <%if(error!=''){%>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%=error%>.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <%}%>
          <div class="row justify-content-end mb-3">
            <div class="col-2">
              <div class="dropdown">
                <button
                  class="d-flex justify-content-between align-items-center btn btn-white border dropdown-toggle w-100"
                  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <% if(category) {%>
                    <%= category %>
                      <% }else {%>
                        Select category
                        <% } %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="/menu">Show All</a></li>
                  <li><a class="dropdown-item" href="/menu/pizza">Pizza</a></li>
                  <li><a class="dropdown-item" href="/menu/burger">Burger</a></li>
                  <li><a class="dropdown-item" href="/menu/desert">Desert</a></li>
                  <li><a class="dropdown-item" href="/menu/beverages">Beverages</a></li>
                </ul>
              </div>
            </div>
            <div class="col-4">
              <form action="/menu" class="d-flex" method="GET">
                <input type="text" name="search" id="search" class="form-control me-1" placeholder="Search">
                <input class="btn btn-success" type="submit" value="Search">
              </form>
            </div>

          </div>
          </div>
          <% if(noResult!==null) {%>
            <h3>
              <%= noResult %>
            </h3>
            <% }%>
              <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
                <% for (let prod of product){ %>
                  <div class="col">
                    <div class="card h-100">
                      <img src="<%= prod.image %>" height="175px" class="card-img-top" alt="food">
                      <div class="card-body">
                        <h5 class="card-title">
                          <%=prod.name%>
                        </h5>
                        <p class="card-text">
                          <%=prod.description%>
                        </p>

                      </div>
                      <div class="d-flex align-items-end justify-content-between p-2">
                        <p class="h4 mt-1">
                          ₹<%= prod.price %>
                        </p>
                        <button data-product="<%= JSON.stringify(prod)%>" class="btn btn-success add-to-cart">+
                          Add</button>
                      </div>
                    </div>
                  </div>
                  <% } %>
              </div>
              <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div class="toast align-items-center bg-success text-white" id="liveToast" role="alert"
                  aria-live="assertive" aria-atomic="true">
                  <div class="d-flex">
                    <div class="toast-body">
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                      aria-label="Close"></button>
                  </div>
                </div>
              </div>